{% extends "proj/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <main class="proj-main">
        <h1>About</h1>
        <h3>The Gilmore Girls Game</h3>
        <p>Som mitt avslutande projekt valde jag att skapa äventyrsspel inspirerat av
        TV-serien Gilmore Girls. Spelet bygger på säsong 3 avsnitt 9, där mor och dotter ska fira Thanksgiving.
        I avsnittet har de blivit bjudna till fyra olika middagar, och eftersom de inte vill göra någon besviken
        bestämmer dig sig för att gå på alla fyra.
        I spelet tar du rollen som Lorelai Gilmore och ditt mål är att äta dig igenom alla middagar, utan att bli för mätt.
        Middagarna måste ske i rätt ordinig för att klara dig igenom Thanksgiving.
        Beroende på vilka val du gör på varje middag, får du olika asvlut på spelet.</p>
    </main>

    <div class="alert">          
        <p>Projektidé</p>  
        <ul>
            <li><a href="https://dbwebb.se/kurser/mvc-v2/kmom10/adventure">Äventyrsspel</a></li>
        </ul>
    </div>
{% endblock %}
