{% extends "proj/base.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block body %}
    <div class="two-col-layout">
        <main class="proj-main">
            <h1>Gilmore Girls</h1>
            <h2>Welcome to Stars Hollow</h2>
                <p>In the small town Stars Hollow, Lorelai and her daughter Rory have somehow ended up with four Thanksgiving invitations.
                There’s no escaping Emily’s dinner, and Luke looked a little heartbroken when they said they might not have time to celebrate with him.
                So skipping isn’t an option. Rory’s biggest worry? How they’re supposed to survive four full dinners in one day.
                Luckily, you playing as Lorelai have a plan and a few clever tricks to make it through the day. 
                </p>
            <div class="dialogue-wrapper">
               <div class="dialogue-scene">
                  <div class="dialogue-line rory">
                     <span class="name">Rory:</span>
                     <span class="text">"How are we going to eat four Thanksgiving dinners?"</span>
                  </div>

                  <div class="dialogue-line lorelai">
                     <span class="name">Lorelai:</span>
                     <span class="text">"What are we if not world-champion eaters?"</span>
                  </div>

                  <div class="dialogue-line rory">
                     <span class="name">Rory:</span>
                     <span class="text">"It's too much food."</span>
                  </div>

                  <div class="dialogue-line lorelai">
                     <span class="name">Lorelai:</span>
                     <span class="text">
                           "This is what we've trained for our whole lives."
                           "I guarantee you, we will be standing on the Olympic platform receiving our gold medals for eating."
                           <a href="{{ path('proj_start') }}" class="sign-btn">Let's go eat!</a>
                     </span>
                  </div>
               </div>
               <img src="{{ asset('img/eat.png') }}" alt="eat">
            </div>
            <a href="{{ path('proj_cheat')}}">Become a Gilmore</a>
        </main>
    </div>
{% endblock %}