{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Louise Jönsson</p>
    <a href="{{ asset('img/hearts.jpg') }}">
        <img src="{{ asset('img/hearts.jpg') }}" alt="">
    </a>
{% endblock %}
